html {
    height: 100%;
}

body {
    background-color: rgb(249, 249, 251);
    position: relative;
    min-width: 1650px;
    height: 100%;
    text-align: center;
}

header {
    position: relative;
    background-color: rgb(33, 36, 41);
    height: 327px;
    width: 100%;
    min-width: 1650px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 18px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    display: block;
}

header p {
    top: -30px;
}

.mainImage {
    position: relative;
    margin: 18px 0px 0px 0px;
    text-align: center;
}

.mainImage p {
    margin: 20px 0px 0px 0px;
}

.mainImageText {
    text-align: justify;
    position: absolute;
    margin-left: 300px;
    margin-top: -300px;
}

.overTitleText {
    margin-top: 330px;
    margin-left: -655px;
    position: absolute;
    font-weight: normal;
    display: inline;
}

.sliderBlock {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 260px;
    position: absolute;
    padding-left: 10px;
    padding-left: 10px;
    margin-top: -350px;
    margin-left: 550px;
    display: inline;
}

.sliderBlockText {
    text-align: center;
    font-weight: normal;
    word-spacing: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.sliderBlock p {
    text-align: center;
}

.line {
    position: absolute;
    text-align: left;
    margin-left: -765px;
    top: 0px;
    border-left: 2px solid rgb(60, 60, 60);
    border-right: 2px solid rgb(60, 60, 60);
    padding: 18px;
    display: inline;
}

nav {
    position: absolute;
    margin-left: 500px;
    display: inline-block;
    border-right: 2px solid rgb(60, 60, 60);
    height: 18px;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 5px;
}

nav:last-of-type {
    border-left: 2px solid rgb(60, 60, 60);
    padding-left: 0px;
}

.lines {
    border-right: 2px solid rgb(60, 60, 60);
    top: 20px;
    padding: 16px;
}

h1 {
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    margin-top: -330px;
    margin-left: -655px;
    width: 500px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline;
}

h2 {
    text-transform: uppercase;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    width: 230px;
    letter-spacing: 2px;
    display: inline-block;
    line-height: 30px;
}

h5 {
    text-transform: uppercase;
    text-align: left;
    margin: 60px 0px 30px 0px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    word-spacing: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    background-color: rgb(33, 36, 41);
    min-width: 1650px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 40px;
    vertical-align: baseline;
    display: block;
    bottom: 0px;
    flex: 0 0 auto;
}

.subscribeMenu {
    background-color: rgb(247, 247, 247);
    padding: 30px;
    width: 1470px;
    height: 50px;
    display: block;
    margin: 0px auto;
    margin-top: 290px;
    text-align: center;
}

.inputFields {
    border: 0px solid rgb(247, 247, 247);
    width: 450px;
    height: 50px;
    vertical-align: top;
    font-size: 20px;
    text-indent: 30px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.inputFields:focus::-webkit-input-placeholder {
    color: transparent
}

.inputFields:focus::-moz-placeholder {
    color: transparent
}

.inputFields:focus:-moz-placeholder {
    color: transparent
}

.inputFields:focus:-ms-input-placeholder {
    color: transparent
}

.inputFields:last-of-type {
    margin-left: 30px;
}

.subscribeButton {
    vertical-align: top;
    cursor: pointer;
    margin-left: 30px;
    height: 50px;
    width: 260px;
    background-color: rgb(33, 33, 33);
    color: #fff;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 0px solid rgb(247, 247, 247);
}

.subscribeButton:hover {
    background-color: rgb(100, 100, 100);
}

.contentMain {
    display: inline-flex;
    width: 1530px;
    margin-left: -35px;
    margin-top: 80px;
    justify-content: center;
    flex-flow: row;
    flex: 1 0 auto;
    align-self: center;
    margin-bottom: 60px;
}

.mainContentChild {
    display: flex;
    width: 360px;
    align-content: center;
    flex-flow: column;
    margin-left: 30px;
}

.content {
    width: 360px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border: 3px solid rgb(247, 247, 249);
    margin-bottom: 24px;
}

.content:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fa-pencil {
    margin: -20px;
    background: black;
    height: 25px;
    width: 40px;
    padding-top: 15px;
}

.fa-link {
    margin: -20px;
    background: #fff;
    height: 25px;
    width: 40px;
    padding-top: 15px;
    margin-bottom: 60px;
}

.fa-picture-o {
    margin: -20px;
    background: black;
    padding-top: 15px;
    height: 25px;
    width: 40px;
}

.fa-quote-left {
    margin-top: -20px;
    height: 25px;
    width: 40px;
    padding-top: 15px;
    background: white;
}

.fa-film {
    position: relative;
    margin-top: -20px;
    height: 25px;
    width: 40px;
    padding-top: 15px;
    background: black;
    color: white;
    z-index: 1;
}

.fa-th-large {
    margin-top: -20px;
    height: 25px;
    width: 40px;
    padding-top: 15px;
    background: white;
    margin-bottom: 255px;
}

.fa-circle {
    color: rgb(153, 153, 153);
    display: block;
    margin-top: 20px;
    font-size: 140px;
    margin-bottom: 112px;
}

.fa-music {
    margin-top: -20px;
    height: 25px;
    width: 40px;
    padding-top: 15px;
    background: black;
    color: white;
}

.fa-bars {
    color: white;
}

.fa-bars:hover {
    color: rgb(153, 153, 153);
}

.fa-bars-title {
    color: white;
}

.fa-bars-title:hover {
    color: white;
}

.fontAwesomeWhite {
    color: #fff;
}

.fa-rss {
    color: white;
}

.fa-rss:hover {
    color: rgb(153, 153, 153);
}

.fa-twitter {
    color: white;
}

.fa-twitter:hover {
    color: rgb(153, 153, 153);
}

.fa-tumblr {
    color: white;
}

.fa-tumblr:hover {
    color: rgb(153, 153, 153);
}

.fa-facebook {
    color: white;
}

.fa-facebook:hover {
    color: rgb(153, 153, 153);
}

.fa-search {
    color: white;
}

.fa-search:hover {
    color: rgb(153, 153, 153);
}

.fa-long-arrow-left {
    color: white;
}

.fa-long-arrow-right {
    color: white;
}

.fa-dribbble:hover {
    color: rgb(153, 153, 153);
}

.fa-pinterest:hover {
    color: rgb(153, 153, 153);
}

.fontAwesomeGray {
    color: rgb(70, 70, 70);
}

.fontComments {
    color: rgb(70, 70, 70);
    margin-right: 10px;
}

.contentBackground {
    background-image: url("block_background.png");
}

.navElements {
    font-size: 15px;
}

h3 {
    margin: 40px;
    margin-bottom: 15px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(180, 180, 180);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}

h4 {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

time {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(180, 180, 180);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

.containerText {
    margin: 25px 35px 0px 35px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(70, 70, 70);
    font-weight: 500;
    word-spacing: 1px;
    line-height: 27px;
}

.containerTextWhite {
    color: white;
}

.readMore {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
    margin: 30px 100px 40px 100px;
    border-left: 2px solid rgb(215, 215, 215);
    border-right: 2px solid rgb(215, 215, 215);
    width: 130px;
    height: 40px;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
}

.readMore:hover span {
    color: rgb(70, 70, 70);
    border-top: 2px solid rgb(215, 215, 215);
    border-bottom: 2px solid rgb(215, 215, 215);
}

.readMore:hover {
    color: rgb(70, 70, 70);
    border-left: none;
    border-right: none;
}

span {
    padding-top: 8px;
    padding-bottom: 8px;
}

.commentBlock {
    width: 310px;
    padding: 18px;
    border-top: 1px solid rgb(215, 215, 215);
    text-align: left;
}

.videoPlayerCommentBlock {
    width: 310px;
    height: 15px;
    padding: 18px;
    border-top: 1px solid rgb(215, 215, 215);
    text-align: left;
    margin-top: 40px;
}

.commentCount {
    margin: 0px 75px 0px 5px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(180, 180, 180);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline;
}

.commentCount:hover {
    color: black;
}

.freeSpace {
    background-color: rgb(244, 244, 244);
    padding-top: 310px;
    width: 360px;
}

.autor {
    color: rgb(137, 137, 138);
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 40px;
}

.playerImage {
    margin-top: -27px;
    margin-left: -1px;
}

a {
    text-decoration: none;
}

.freeSpaceWhite {
    padding-top: 280px;
    width: 360px;
}

.contentBlack {
    width: 360px;
    text-align: center;
    background-color: rgb(33, 36, 41);
    border: 3px solid rgb(247, 247, 249);
    margin-bottom: 24px;
}

.contentBlack:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.link {
    margin: 0px 40px 60px 40px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;
    word-wrap: break-word;
    display: block;
}

.emptyContent {
    width: 360px;
    height: 510px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border: 3px solid rgb(247, 247, 249);
    margin-bottom: 24px;
}

.rightEmptyContent {
    width: 360px;
    height: 580px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border: 3px solid rgb(247, 247, 249);
    margin-bottom: 30px;
}

.footerText {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 15px;
}

.footerBlock {
    vertical-align: top;
    margin-left: 30px;
    width: 360px;
    height: 370px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: left;
}

.signature {
    background-color: rgb(58, 60, 73);
    width: 350px;
    height: 140px;
    text-align: right;
    vertical-align: bottom;
    padding: 10px;
    display: table-cell;
}

.twitter {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    display: inline;
}

.twitt {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 30px;
}

.instaImages {
    margin: 0px;
    width: 110px;
}

.copyright {
    min-width: 1650px;
    width: 100%;
    height: 30px;
    background-color: rgb(23, 25, 28);
    bottom: 0px;
    text-align: center;
}

.copyrightText {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(146, 146, 147);
    margin-top: 10px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
}

.disclamer {
    text-transform: uppercase;
    font-size: 14px;
    border-left: 1px solid rgb(146, 146, 147);
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(146, 146, 147);
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;
}
